div.tvCard{
    padding:20px;
    margin:10px;
    overflow:auto;
    box-shadow: 3px 3px gray;
    background-color:white;
}

.image{
    float:left;
    margin-right:20px;
}
footer{
    margin-left:45%;
    padding-bottom:20px;
}