<section id="MainDisplay">
    <div *ngFor = "let movie of movies.results" class="movieCard">
        <h1 class="title">{{movie.title}}</h1>
        <p class="overview">{{movie.overview}}</p>
        <img class="image" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}" [alt]="movie.title"
        [style.width.px] = 300
        >
    </div>
    <button (click)="prevPage()" [disabled]="movieservice.page <= 1" >Prev</button>
    <button (click) = "nextPage()" [disabled]="currentPage < movies.page">Next</button>
</section>